.watch-details .detail-image img {
  height: 550px;
  object-fit: cover;
}

.watch-details .detail-content {
  margin-top: 30px;
  font-family: "Josefin Sans", sans-serif;
}

.watch-details .detail-content h2 {
  color: #ff003c;
  margin-bottom: 16px;
}

.watch-details .detail-content h4 span {
  text-transform: capitalize;
}

.watch-purchase h1 {
  margin-bottom: 40px;
  font-family: "Josefin Sans", sans-serif;
}

.purchase-form form input {
  display: block;
  width: 100%;
  padding: 12px;
  margin: 16px 0;
  font-size: 18px;
  border: 1px solid #f2f2f2;
  font-weight: 500;
}

.purchase-form form input:focus {
  background-color: #fff;
  outline-color: #ff003c;
}

.purchase-form form input[type="submit"] {
  background: #444;
  color: #f2f2f2;
  text-transform: uppercase;
  transition: 0.2s ease-in;
}

.purchase-form form input[type="submit"]:hover {
  background: #ff003c;
  color: #fff;
}

.purchase-form form small {
  font-size: 15px;
  font-weight: 500;
  color: #ff6647;
}
